<div class="d-flex flex-column justify-content-center h-100 px-2">
    <div class="mb-3 rounded d-flex justify-content-between align-items-center bg-light px-3 py-2 shadow-sm">
        <span class="material-symbols-outlined me-2">battery_4_bar</span>
        <div>
            <span class="fs-5 fw-bold text-primary">{{ current_battery }}</span>
            <span class="fs-6 text-muted ms-1">%</span>
        </div>
    </div>
    <div class="mb-3 rounded d-flex justify-content-between align-items-center bg-light px-3 py-2 shadow-sm">
        <span class="fs-6">현재 상태</span>
        {% if not current_state %}
        {% set current_state = '-' %}
        {% endif %}
        <span class="fs-5 fw-bold text-primary">{{ current_state }}</span>

    </div>
</div>