{% extends 'base.html' %}

{% block title %}홈{% endblock %}

{% block content %}
<h1 class="display-5 mb-3">홈</h1>
{% if connection_error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>오류:</strong> {{ error_target }}에 접속할 수 없습니다. 잠시 후에 다시 시도해 주세요.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}

<div class="container">
    <!-- 상단() -->
    <div class="row">
        <!-- 상단 좌측() -->
        <div class="col-md-4 mb-4">
            <div class="content-card mb-4 h-100">
                <div id="sensor-container"
                    hx-get="/api/current_sensors{% if current_region %}?region={{ current_region }}{% endif %}" 
                    hx-trigger="load, every 5s" 
                    hx-swap="innerHTML">
                    {% include '_sensor_state.html' %}
                </div>
            </div>
        </div>
            
        <!-- 상단 중앙()-->
        <div class="col-md-4 mb-4">
            <div class="content-card h-100">
                <h4 class="mb-3 text-primary border-bottom pb-2">재배지 관리</h4>
                
                <div class="mb-3 rounded d-flex justify-content-between align-items-center bg-light px-3 py-2 shadow-sm">
                    <span class="text-dark">조명</span>
                    <div class="form-check form-switch fs-3 mb-0">
                        <input class="form-check-input" type="checkbox" role="switch" id="lightSwitch" {% if light_on
                            %}checked{% endif %}>
                    </div>
                </div> 
            </div>
        </div>

        
        <!-- 상단 우측()-->
        <div class="col-md-4 mb-4">
            <div class="content-card h-100">
                <h4 class="mb-3 text-primary border-bottom pb-2">로봇 상태</h4>
                <div class="scrollable-container overflow-y-auto overflow-x-hidden pe-2" style="max-height: 400px;">
                    <div id="state-container" hx-get="/api/current_robot_state{% if current_region %}?region={{ current_region }}{% endif %}" hx-trigger="load, every 2s"
                        hx-swap="innerHTML">
                        {% include '_robot_state.html' %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        const lightSwitch = document.querySelector("#lightSwitch");
        lightSwitch.addEventListener("change", function() {
            const data = this.checked ? 1 : 0;
            fetch(`/api/control_actuator?device=light&data=${data}`);
        })

    </script>
        
</div>



{% endblock %}