{% extends 'base.html' %}

{% block title %}홈{% endblock %}

{% block content %}
<h1 class="display-5 mb-3">홈</h1>
{% if connection_error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>오류:</strong> {{ error_target }}에 접속할 수 없습니다. 잠시 후에 다시 시도해 주세요.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}

<div class="container">
    <!-- 상단() -->
    <div class="row">
        <!-- 상단 좌측() -->
        <div class="col-md-4 mb-4">
            <div class="bg-light p-4 rounded shadow-sm mb-4 h-100">
                <div id="sensor-container"
                    hx-get="/api/current_sensors" 
                    hx-trigger="load, every 5s" 
                    hx-swap="innerHTML">
                    {% include '_sensor_state.html' %}
                </div>
            </div>
        </div>
            
        <!-- 상단 중앙()-->
        <div class="col-md-4 mb-4">
            <p>todo</p>
        </div>

        
        <!-- 상단 우측()-->
        <div class="col-md-3 mb-4 bg-light p-4 rounded shadow-sm h-100">

            <h4 class="mb-3 text-primary border-bottom pb-2">로봇</h4>
            <div class="scrollable-container overflow-y-auto overflow-x-hidden pe-2" style="max-height: 400px;">
                <div id="state-container" hx-get="/api/current_robot_state" hx-trigger="load, every 2s"
                    hx-swap="innerHTML">
                    {% include '_robot_state.html' %}
                </div>
            </div>
        </div>

    </div>
        
</div>



{% endblock %}