{% import "_logs_viewer.html" as logs_viewer %}
{% import "_chart_viewer.html" as chart_viewer %}
{% extends 'base.html' %}

{% block title %}작물 현황{% endblock %}

{% block content %}
<h1 class="display-5 mb-3">작물 현황</h1>
{% if db_error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>오류:</strong> 데이터베이스에 접속할 수 없습니다. 잠시 후에 다시 시도해 주세요.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}
<div class="row">
    <!-- 좌측(작물 상태+작물 그래프) -->
    <div class="col-md-6 mb-4">

        <!-- 좌상단(작물 상태) -->
        <div class="bg-light p-4 rounded shadow-sm mb-4">
            <h4 class="mb-3 text-primary border-bottom pb-2">작물 상태</h4>
            <div class="scrollable-container overflow-y-auto overflow-x-hidden pe-2" style="max-height: 300px;">
                {% for plant_type, plants in status_data.items() %}
                <h5 class="mt-3 mb-2 text-secondary">{{ plant_type }}</h5>
                <div class="row row-cols-2 row-cols-md-3 g-2 mb-3">
                    {% for plant in plants %}
                    <div class="col">
                        <div
                            class="card h-100 {% if plant.is_disease %}border-danger{% else %}border-success{% endif %}">
                            <div class="card-body p-3">
                                <h6 class="card-title text-dark">#{{ plant.id }} <span class="fw-bold">{{ plant.name
                                        }}</span></h6>
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <span class="small text-muted">성장도: <strong class="text-dark">{{ plant.maturity *100
                                            }}%</strong></span>
                                    {% if plant.is_disease %}
                                    <span class="badge bg-danger rounded-pill">병충해</span>
                                    {% else %}
                                    <span class="badge bg-success rounded-pill">정상</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- 좌하단(작물 그래프) -->
        <div class="bg-light p-4 rounded shadow-sm">
            {{ chart_viewer.render_charts('작물 그래프', request.endpoint, days, page, charts_data) }}
        </div>

    </div>

    <!-- 우측(작물 이력)-->
    <div class="col-md-6 mb-4">
        <!-- 우상하단(작물 이력) -->
        {% set table_name = '작물 이력' %}
        {{ logs_viewer.render_items(table_name, history_columns, history_data, page, has_next,
        endpoint=request.endpoint, days=days) }}
    </div>
</div>
{% endblock %}