{% extends 'base.html' %}

{% block title %}작물 현황{% endblock %}

{% block content %}
    <h1 class="display-4">작물 현황</h1>

    <div class="scrollable-container bg-light">
        {% for plant_type, plants in data.items() %}
            <div class="row">
                <div class="col-12">
                    <h4 class="category-header">{{ plant_type }}</h4>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-4 g-1 mb-4">
                {% for plant in plants %}
                <div class="col">
                    <div class="object-item">
                        <div class="small">{{ plant.id }} <b>{{ plant.name }}</b></div>
                        <p>성장도: <strong>{{ plant.maturity }}</strong></p>
                        <p>병충해: <strong>{{ "❗있음" if plant.is_disease else "✅없음"}}</strong></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}